.center-me {
	margin: 0 auto;
	width: 36%;
}
.margin-top-10px {
	margin-top: 10px;
}
.errorlist {
	color: red;
	list-style-type: none; 
	padding-left: 0px;
}
input[type="text"] {
	display: block;
	width: 100%;
	padding:.375rem .75rem;
	font-size:1.5rem;
	line-height: 1.5;
	color: #55595c;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: .25rem;
}
.list-style {
	list-style-type: none;
	margin-bottom: 15px;
	padding-left: 0px;
}

.name {
		font-size: 2rem;
}
ul {
	padding-left: 0px;
}
body {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #eee;
}
.form-box {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	max-width: 400px;
	margin: 0 auto;
}

.login-form {
	width: 400px;

}
#footer {
	position: absolute;
	top: 450px;
	right: 0;
	left: 0;
	bottom: 0;
}
.header {
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}