{% extends "person_app/person_base.html" %}
{% block title %}
	Login
{% endblock title %}

{% block content %}
<div class="form-box" id="login-box">
	<div class="header">Please Login</div>
	<div class="body">
		<form name="login-form" method="post" action="">
			{% csrf_token %}
			<div class="form-group">
				<input type="text" id="username" name="username" class="form-control" placeholder="Username" autocomplete="off" required="" autofocus="">
			</div>
			<div class="form-group">
				<input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
			</div>
			<div class="footer">
				<input type="submit" name="submit" class="btn btn-block btn-primary" value="Login">
			</div>
		</form>
	</div>	
</div>
{% endblock content %}