{% extends "person_app/person_base.html" %}

{% block title %}
    {{ person.first_name }} {{person.last_name}}
{% endblock %}
{% block logout %}{{ block.super }}{% endblock logout %}
{% block content %}
    <h1>
    	<a href={% url "person_list" %}>
    		Back to Person List
		</a>

    </h1>
    {% if user.is_authenticated %}
        <a class="btn btn-warning margin-top-10px" href={% url "logout" %}>Logout</a>
    {% endif %}
    <h2>{{ person.first_name }} {{person.last_name}}  <a class="btn btn-warning" href={% url "person_update" person.pk %}>Update</a> 
    	<form style="display:inline;" action={% url "person_delete" person.pk %} method="post" 
    		onsubmit="return confirm('Are you sure you want to delete {{ person }}?')">
    		{% csrf_token %}
    		<input class="btn btn-danger" type="submit" value="Delete" />
    	</form>
    </h2>
    	<p class="name">Date of Birth: {{person.date_of_birth}}</p>
		<p class="name">Zip Code: {{person.zip_code}}</p>
		
{% endblock %}