{% extends "person_app/person_base.html" %}

{% block title %}
    Update {{ person }}
{% endblock %}

{% block content %}
<h1><a href={% url "person_list" %}>Back to Person List</a></h1>
<a class="btn btn-warning margin-top-10px" href={% url "logout" %}>Logout</a>
<h2>Update {{ person.first_name }} {{ person.last_name }}</h2>

<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-info" type="submit" value="Update" />
</form>
<a class="btn btn-warning margin-top-10px" href={% url "person_detail" person.pk %}>Cancel</a>
<form action={% url "person_delete" person.pk %} method="post" 
onsubmit="return confirm('Are you sure you want to delete {{ person.first_name }} {{ person.last_name }}?')">
	{% csrf_token %}
    <input class="btn btn-danger margin-top-10px" type="submit" value="Delete" />
</form>
{% endblock %}