{% extends "person_app/person_base.html" %}

{% block title %}
    Persons
{% endblock %}



{% block content %}
    <h1>Persons</h1>
    {% if user.is_authenticated %}
        <a class="btn btn-warning margin-top-10px" href={% url "logout" %}>Logout</a>
    {% endif %}
    <h2>
        <a href={% url "person_create" %}>
            Create new Person 
        </a>
    </h2>
    <ul>
    {% for person in person_list %}
        <li class="list-style">
            <a  href={% url "person_detail" person.pk %}>
                <span class="name col-md-6">
                    {{ person.first_name }} {{ person.last_name }}
                </span>
                
            </a> 
            <a class="btn btn-info" href={% url "person_update" person.pk %}>
                Update
            </a> 
            <form style="display:inline;" action={% url "person_delete" person.pk %} method="post" 
            onsubmit="return confirm('Are you sure you want to delete {{ person.first_name }} {{ person.last_name}}?')">
                {% csrf_token %}
                <input class="btn btn-danger" type="submit" value="Delete" />
            </form>
        </li>
    {% empty %}
        <li>No Persons yet.</li>
    {% endfor %}
    </ul>
{% endblock %}