{% extends "person_app/person_base.html" %}

{% block title %}
    Create a Person
{% endblock %}


{% block content %}
	<h1>
		<a href={% url "person_list" %}>
			Back to Person List
		</a>
	</h1>
	
	<a class="btn btn-warning margin-top-10px" href={% url "logout" %}>Logout</a>

	<h2>Create Person</h2>
	<form action="" method="post">{% csrf_token %}
		{% for field in form %}
	    	<fieldset class="form-group">
	    		{{ field.errors }}
	    		{{ field.label_tag }}
	    		{{ field }}
	    		{% if field.help_text %}
	    		<p>{{ field.help_text|safe }}</p> 
	    		{% endif %}
	    	</fieldset>

	    {% endfor %}
	    <input class="btn btn-primary" type="submit" value="Create" />
	</form>
	<a class="btn btn-warning margin-top-10px" href={% url "person_list" %}>Cancel</a>
{% endblock %}