{% extends "person_app/person_base.html" %}


{% block content %}
	<h1>Delete {{ person.first_name }} {{ person.last_name }}</h1>
	
	<form action="" method="post">{% csrf_token %}
	    <p>Are you sure you want to delete {{ person.first_name }} {{ person.last_name }}?</p>
	    <input type="submit" value="Confirm" />
	</form>

	<a href={% url "person_detail" person.pk %}>Cancel</a>
{% endblock %}