{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>	{% block title %}{% endblock title %}</title>
	
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'person_app/css/styles.css' %}">

	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'person_app/img/favicon.ico' %}" />
</head>
<body>
	<section class="container">
		<div class="row">
			<div class="center-me">
				{% block content %}
				{% endblock content %}
			</div>
		</div>
	</section>
	
	<script type="text/javascript" src="{% static 'jquery/dist/jquery.js' %}"></script>
	<script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.js' %}"></script>
</body>
</html>