{% extends "django_bootstrap_calendar/calendar_event_base.html" %}

{% block title %}
    Update {{ calendar_event }}
{% endblock %}

{% block content %}
<h1><a href={% url "calendar_event_list" %}>CalendarEvent</a></h1>
<h2>Update {{ calendar_event }}</h2>

<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />
</form>
<a href={% url "calendar_event_detail" calendar_event.pk %}>Cancel</a>
<form style="display:inline;" action={% url "calendar_event_delete" calendar_event.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ calendar_event }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
</form>
{% endblock %}