{% extends "django_bootstrap_calendar/calendar_event_base.html" %}

{% block title %}
    Delete {{ calendar_event }}
{% endblock %}

{% block content %}
<h1>Delete {{ calendar_event }}</h1>

<form action="" method="post">{% csrf_token %}
    <p>Are you sure you want to delete {{ calendar_event }}?</p>
    <input type="submit" value="Confirm" />
</form>

<a href={% url "calendar_event_detail" calendar_event.pk %}>Cancel</a>

{% endblock %}