{% extends "django_bootstrap_calendar/calendar_event_base.html" %}

{% block title %}
    Create CalendarEvent
{% endblock %}

{% block content %}
<h1><a href={% url "calendar_event_list" %}>CalendarEvent</a></h1>
<h2>Create CalendarEvent</h2>

<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Create" />
</form>
<a href={% url "calendar_event_list" %}>Cancel</a>
{% endblock %}