{% extends "django_bootstrap_calendar/calendar_event_base.html" %}

{% block title %}
    {{ calendar_event }}
{% endblock %}

{% block content %}
    <h1><a href={% url "calendar_event_list" %}>CalendarEvent</a></h1>
    <h2>{{ calendar_event }} | <a href={% url "calendar_event_update" calendar_event.pk %}>Update</a> | 
    <form style="display:inline;" action={% url "calendar_event_delete" calendar_event.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ calendar_event }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form>
    </h2>
{% endblock %}