{% extends "django_bootstrap_calendar/calendar_event_base.html" %}

{% block title %}
    CalendarEvents
{% endblock %}

{% block content %}
    <h1>CalendarEvents</h1>
    <h2><a href={% url "calendar_event_create" %}>Create new CalendarEvent</h2>
    <ul>
    {% for calendar_event in calendar_event_list %}
        <li><a href={% url "calendar_event_detail" calendar_event.pk %}>{{ calendar_event }}</a> | <a href={% url "calendar_event_update" calendar_event.pk %}>Update</a> | <form style="display:inline;" action={% url "calendar_event_delete" calendar_event.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ calendar_event }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form></li>
    {% empty %}
        <li>No CalendarEvents yet.</li>
    {% endfor %}
    </ul>
{% endblock %}